::after,
::before {
  box-sizing: border-box;
}
:root {
  /* COLORS  */
  --md-source: #adcf9f;
  /* primary */
  --primary0: #000000;
  --primary10: #012200;
  --primary20: #023900;
  --primary25: #074602;
  --primary30: #17520e;
  --primary35: #245e1a;
  --primary40: #316b25;
  --primary50: #49853b;
  --primary60: #629f52;
  --primary70: #7cbb6a;
  --primary80: #96d783;
  --primary90: #b1f49d;
  --primary95: #cbffb8;
  --primary98: #edffe1;
  --primary99: #f7ffee;
  --primary100: #ffffff;
  /* secondary */
  --secondary0: #000000;
  --secondary10: #121f0e;
  --secondary20: #263422;
  --secondary25: #313f2c;
  --secondary30: #3d4b37;
  --secondary35: #485642;
  --secondary40: #54634d;
  --secondary50: #6c7b65;
  --secondary60: #86957d;
  --secondary70: #a0b097;
  --secondary80: #bbcbb1;
  --secondary90: #d7e8cc;
  --secondary95: #e5f6da;
  --secondary98: #eeffe3;
  --secondary99: #f7ffee;
  --secondary100: #ffffff;
  /* tertiary */
  --tertiary0: #000000;
  --tertiary10: #002021;
  --tertiary20: #003739;
  --tertiary25: #0f4245;
  --tertiary30: #1e4d50;
  --tertiary35: #2b595c;
  --tertiary40: #386568;
  --tertiary50: #517f81;
  --tertiary60: #6b999b;
  --tertiary70: #85b3b6;
  --tertiary80: #a0cfd2;
  --tertiary90: #bcebee;
  --tertiary95: #cafafc;
  --tertiary98: #e6feff;
  --tertiary99: #f2ffff;
  --tertiary100: #ffffff;
  /* neutral */
  --neutral0: #000000;
  --neutral10: #1a1c18;
  --neutral20: #2f312d;
  --neutral25: #3a3c38;
  --neutral30: #454743;
  --neutral35: #51534e;
  --neutral40: #5d5f5a;
  --neutral50: #767872;
  --neutral60: #90918c;
  --neutral70: #abaca6;
  --neutral80: #c6c7c1;
  --neutral90: #e2e3dc;
  --neutral95: #f1f1eb;
  --neutral98: #fafaf3;
  --neutral99: #fcfdf6;
  --neutral100: #ffffff;
  /* neutral-variant */
  --neutral-variant0: #000000;
  --neutral-variant10: #181d15;
  --neutral-variant20: #2c3229;
  --neutral-variant25: #373d34;
  --neutral-variant30: #43483f;
  --neutral-variant35: #4e544a;
  --neutral-variant40: #5a6056;
  --neutral-variant50: #73796e;
  --neutral-variant60: #8d9387;
  --neutral-variant70: #a7ada1;
  --neutral-variant80: #c3c8bc;
  --neutral-variant90: #dfe4d7;
  --neutral-variant95: #edf3e5;
  --neutral-variant98: #f6fbee;
  --neutral-variant99: #f9fef1;
  --neutral-variant100: #ffffff;
  /* error */
  --error0: #000000;
  --error10: #410002;
  --error20: #690005;
  --error25: #7e0007;
  --error30: #93000a;
  --error35: #a80710;
  --error40: #ba1a1a;
  --error50: #de3730;
  --error60: #ff5449;
  --error70: #ff897d;
  --error80: #ffb4ab;
  --error90: #ffdad6;
  --error95: #ffedea;
  --error98: #fff8f7;
  --error99: #fffbff;
  --error100: #ffffff;
  /* light */
  --primary-light: #316b25;
  --on-primary-light: #ffffff;
  --primary-container-light: #b1f49d;
  --on-primary-container-light: #012200;
  --secondary-light: #54634d;
  --on-secondary-light: #ffffff;
  --secondary-container-light: #d7e8cc;
  --on-secondary-container-light: #121f0e;
  --tertiary-light: #386568;
  --on-tertiary-light: #ffffff;
  --tertiary-container-light: #bcebee;
  --on-tertiary-container-light: #002021;
  --error-light: #ba1a1a;
  --error-container-light: #ffdad6;
  --on-error-light: #ffffff;
  --on-error-container-light: #410002;
  --background-light: #fcfdf6;
  --on-background-light: #1a1c18;
  --surface-light: #fcfdf6;
  --on-surface-light: #1a1c18;
  --surface-variant-light: #dfe4d7;
  --on-surface-variant-light: #43483f;
  --outline-light: #73796e;
  --inverse-on-surface-light: #f1f1eb;
  --inverse-surface-light: #2f312d;
  --inverse-primary-light: #96d783;
  --shadow-light: #000000;
  --surface-tint-light: #316b25;
  --outline-variant-light: #c3c8bc;
  --scrim-light: #000000;
  /* dark */
  --primary-dark: #96d783;
  --on-primary-dark: #023900;
  --primary-container-dark: #17520e;
  --on-primary-container-dark: #b1f49d;
  --secondary-dark: #bbcbb1;
  --on-secondary-dark: #263422;
  --secondary-container-dark: #3d4b37;
  --on-secondary-container-dark: #d7e8cc;
  --tertiary-dark: #a0cfd2;
  --on-tertiary-dark: #003739;
  --tertiary-container-dark: #1e4d50;
  --on-tertiary-container-dark: #bcebee;
  --error-dark: #ffb4ab;
  --error-container-dark: #93000a;
  --on-error-dark: #690005;
  --on-error-container-dark: #ffdad6;
  --background-dark: #1a1c18;
  --on-background-dark: #e2e3dc;
  --surface-dark: #1a1c18;
  --on-surface-dark: #e2e3dc;
  --surface-variant-dark: #43483f;
  --on-surface-variant-dark: #c3c8bc;
  --outline-dark: #8d9387;
  --inverse-on-surface-dark: #1a1c18;
  --inverse-surface-dark: #e2e3dc;
  --inverse-primary-dark: #316b25;
  --shadow-dark: #000000;
  --surface-tint-dark: #96d783;
  --outline-variant-dark: #43483f;
  --scrim-dark: #000000;

  /* rest */
  --white-form: rgba(255, 255, 255, 90%);
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 600px;
  /* box shadows */
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);

  /*THEMES*/
  /*Background, text and containers*/
  --backgroundColor-main: var(--secondary90);
  --textColor-main: var(--primary10);
  --backgroundColor-home-white: var(--primary100);
  --backgroundColor-home-container: var(--secondary90);
  --backgroundColor-home-container-pink: #ffd8e4;
  --textColor-home: var(--on-background-light);
  --textColor-home-accent: var(--primary70);

  /*Navbar colors*/
  --backgroundColor-nav: var(--surface-light);
  --textColor-logo: var(--inverse-primary-light);
  /*form colors*/
  --backgroundColor-form: var(--white-form);
  --textColor-form: var(--secondary10);
  --textColor-form-small: var(--neutral-variant60);
  --borderColor-register: var(--inverse-primary-light);
  --textColor-placeholder: var(--secondary-container-light);
  /*button colors*/
  --backgroundColor-button: var(--inverse-primary-light);
  --backgroundColor-button-special: var(--white-form);
  --textColor-button: var(--primary100);
  --textColor-button-special: var(--primary0);

  /*Typography*/
  /*h3*/
  --font-size-title-large: 1.375rem;
  --line-height-title-large: 1.75rem;
  /*h1*/
  --font-size-headline-large: 2rem;
  --line-height-headline-large: 2.5rem;
  /*h2*/
  --font-size-headline-medium: 1.75rem;
  --line-height-headline-medium: 2.25rem;
  /*h4*/
  --font-size-label-large: 1.25rem;
  --line-height-label-large: 1.25rem;
  /*//////////*/
  --font-size-label-medium: 1rem;
  --line-height-label-medium: 1rem;
  /*small*/
  --font-size-label-small: 0.6875rem;
  --line-height-label-small: 1rem;
  /*p*/
  --font-size-body-large: 1rem;
  --line-height-body-large: 1.5rem;
}

body {
  margin: 0;
  /*text-size/line-height, types*/
  font: 100%/1.5 "Roboto", sans-serif;
  font-weight: 400;
  height: 100vh;
  font-kerning: normal;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  font-weight: 400;
}

/*32px*/
h1 {
  letter-spacing: 0.1em;
  font-size: var(--font-size-headline-large);
  line-height: var(--line-height-headline-large);
}

/*28px*/
h2 {
  font-size: var(--font-size-headline-medium);
  line-height: var(--line-height-headline-medium);
}

/*22px*/
h3 {
  font-size: var(--font-size-title-large);
  line-height: var(--line-height-title-large);
}

/*20*/
h4 {
  font-size: var(--font-size-label-large);
  line-height: var(--line-height-label-large);
}

p {
  font-size: var(--font-size-body-large);
  line-height: var(--line-height-body-large);
  margin: 0;
}

p + p {
  text-indent: 1em;
}

a {
  text-decoration: none;
}

/*NAVBAR*/

.header-bar {
  background-color: var(--backgroundColor-nav);
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  height: 57px;
  margin-bottom: 3px;
  box-shadow: 0px 2px 4px 0px #00000033;
}

.logo {
  color: var(--textColor-logo);
  padding-left: 21px;
  font-size: var(--font-size-title-large);
  line-height: var(--line-height-title-large);
}

.login-form {
  display: flex;
}

.login-input {
  margin-right: 33px;
  min-width: 153px;
  min-height: 26px;
  border: none;
  border: 1px solid var(--md-source);
  padding-left: 5px;
}

/*GUEST PAGE*/

.guest-container {
  background-color: var(--backgroundColor-main);
  min-height: calc(100vh - 60px);
}

.guest-container-inner {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  max-width: 1600px;
  min-height: calc(100vh - 60px);
  margin: auto;
}

.guest-text {
  color: var(--textColor-main);
  margin-left: 80px;
}

.form-guest {
  background-color: var(--backgroundColor-form);
  color: var(--textColor-form);
  width: 340px;
  height: 450px;
  /*margin-right: 104px;*/
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 13px;
  display: flex;
  flex-direction: column;
}
.form-guest h4 {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

/*.form-guest-container {
  margin: auto;
}*/

.form-group {
  margin-left: 50px;
}

.form-group input {
  border: none;
  border-bottom: 2px solid var(--borderColor-register);
  width: 230px;
  background-color: var(--backgroundColor-form);
}

label {
  display: block;
}

.form-group {
  padding-bottom: 23px;
}

small,
.small {
  color: var(--textColor-form-small);
  font-size: var(--font-size-label-small);
  line-height: var(--line-height-label-small);
}

/*HOME PAGE*/

.home-container {
  background-color: var(--backgroundColor-home-white);
  max-height: calc(100vh - 60px);
}

.home-empty {
  margin: auto;
  max-width: 780px;
  height: 172px;
  background-color: var(--backgroundColor-home-container);
  color: var(--textColor-home);
  border-radius: 6px;
  margin-top: 27px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-empty p,
.home-empty h3 {
  text-align: center;
}

.green {
  color: var(--textColor-home-accent);
}

.home-feed {
  margin: auto;
  max-width: 739px;
  min-height: calc(100vh - 60px);
}

.home-feed h3 {
  text-align: center;
  color: var(--textColor-home-accent);
  padding: 68px 0px;
}

.list-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.list-group hr {
  margin-bottom: 52px;
}

.list-group-item {
  padding: 24.5px 14px 24.5px 14px;
  color: var(--textColor-home);
  background-color: var(--backgroundColor-home-container);
  margin-bottom: 27px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 6px;
}

.list-group-item-special {
  background-color: var(--backgroundColor-home-container-pink);
}

/*ONE NOTE*/

.one-note-container {
  background-color: var(--backgroundColor-main);
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: row;
}

.one-note-container-inner {
  box-sizing: border-box;
  max-width: 659px;
  min-height: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.one-note-content {
  background-color: var(--backgroundColor-form);
  max-width: 584px;
  min-height: 483px;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 13px;
  padding: 20px 22px;
}

/*.one-note-container-inner hr {
  width: 580px;
}*/

.btn-container {
  margin-top: 28px;
  display: flex;
  justify-content: space-between;
}

/*FORM NEW NOTE*/

.form-create-note {
  margin: 0px auto;
  padding: 20px 22px;
  width: 584px;
  max-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
}

.form-control {
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 13px;
  width: 584px;
  padding: 15px;
}

.form-control-title {
  height: 61px;
  font-size: var(--font-size-headline-medium);
  line-height: var(--line-height-headline-medium);
}

.form-control-body {
  margin-top: 43px;
  height: 403px;
  font-size: var(--font-size-body-large);
  line-height: var(--line-height-body--font-size-body-large);
}

.form-control-title::placeholder,
.form-control-body::placeholder {
  color: var(--textColor-placeholder);
  font-size: var(--font-size-label-large);
  line-height: var(--line-height-label-large);
}

/*BUTTONS*/

.btn {
  cursor: pointer;
  border: 1px solid var(--inverse-surface-dark);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  font-size: var(--font-size-label-medium);
  line-height: var(--line-height-label-medium);
}

.login-btn,
.logout-btn,
.create-btn {
  width: 88px;
  height: 28px;
  border-radius: 6px;
  background-color: var(--backgroundColor-button-special);
  color: var(--primary10);

  margin-right: 33px;
}

.edit-btn,
.delete-btn {
  padding: 13px 65px;
  margin-right: 20px;
  margin-left: 20px;
}

.save-btn {
  height: fit-content;
  width: fit-content;
  margin: 24px auto 0px auto;
  padding: 13px 85px;
}

.create-btn-special,
.edit-btn-special,
.save-btn-special {
  background-color: var(--backgroundColor-button);
  color: var(--textColor-button);
  border: none;
}

.register-btn {
  margin-top: 40px;
  background-color: var(--backgroundColor-button);
  color: var(--textColor-button);
  border: none;
  width: 230px;
  height: 36.8px;
  margin-left: 55px;
  font-size: var(--font-size-label-large);
}

.back-btn {
  font-size: var(--font-size-label-large);
  line-height: var(--line-height-label-large);
  margin: auto 0px;
  padding: calc((100vh - 60px - 20px) / 2) 37px;
  background-color: var(--white-form);
}
